<h2 mat-dialog-title>Modificacion de Indicadores</h2>
<form #formIndicador = "ngForm" (ngSubmit)="editarPrevio(formIndicador.value)" class="gestionIndicadores">  
<mat-dialog-content>

    <h1 style="font-size: medium;"> Indica los datos del Indicador {{data.indicador.nombre}} </h1>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>ID de Criterio</mat-label>
        <input matInput readonly="true" type="number" name="id_criterio" [(ngModel)]="data.indicador.id_criterio">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>ID de Indicador</mat-label>
        <input matInput readonly="true" type="number" name="id" [(ngModel)]="data.indicador.id">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Nombre Indicador</mat-label>
        <input matInput name="nombre" [(ngModel)]="data.indicador.nombre">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Descripcion</mat-label>
        <textarea matInput name="descripcion" [(ngModel)]="data.indicador.descripcion"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Estado Criterio</mat-label>
        <mat-select type="boolean" name="estado" [(ngModel)]="data.indicador.estado">
            @for (estado of estados; track estado) {
              <mat-option [value]="estado.value">{{estado.viewValue}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="false">Cancelar</button>
    <button mat-button type="submit" mat-dialog-close mat-dialog-close="true">Modificar</button>
</mat-dialog-actions>
</form>