<h2 mat-dialog-title>Registro de Indicadores</h2>

<mat-dialog-content>
    
    <h1 style="font-size: medium;">Sra {{data.name}} Indica los datos del Indicador</h1>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>ID de Criterio</mat-label>
        <input matInput placeholder="e.g., 26">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>ID de Indicador</mat-label>
        <input matInput placeholder="e.g., 26">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Nombre Indicador</mat-label>
        <input matInput placeholder="Type here...">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Descripcion</mat-label>
        <textarea matInput placeholder="Type here..."></textarea>
    </mat-form-field>



    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Estado Criterio</mat-label>
        <mat-select>
            @for (estado of estados; track estado) {
              <mat-option [value]="estado.value">{{estado.viewValue}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

</mat-dialog-content> 
<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="true">Cancelar</button>
    <button mat-button mat-dialog-close mat-dialog-close="false">Registrar</button>
</mat-dialog-actions>