<div class="login-container">
    <h2>Inicio de Sesión</h2>
    <div class="login-form">
      <mat-tab-group>
        <mat-tab label="Administrador">
          <form (ngSubmit)="onSubmitAdmin()">
            <mat-form-field appearance="outline">
              <mat-label>Usuario</mat-label>
              <input matInput [(ngModel)]="adminCredentials.username" name="adminUsername" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput [(ngModel)]="adminCredentials.password" name="adminPassword" type="password" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Iniciar Sesión como Admin</button>
          </form>
        </mat-tab>
        <mat-tab label="Unidad/Departamento">
          <form (ngSubmit)="onSubmitUnidad()">
            <mat-form-field appearance="outline">
              <mat-label>Usuario</mat-label>
              <input matInput [(ngModel)]="unidadCredentials.username" name="unidadUsername" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput [(ngModel)]="unidadCredentials.password" name="unidadPassword" type="password" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Iniciar Sesión como Unidad/Departamento</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>