:root {
    --primary-color: #4CAF50; /* Primary Green */
    --primary-light: #C8E6C9; /* Light Green */
    --primary-dark: #388E3C; /* Dark Green */
    --accent-color: #8BC34A; /* Accent Green */
    --warn-color: #F44336; /* Red */
  }
  
  body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .user-name {
    font-size:medium; /* Tamaño de fuente mediano */
    font-family: 'Arial', sans-serif; /* Mejor estilo de fuente */
    color: black; /* Color de texto */
    font-weight: bold; /* Negrita para mejor visibilidad */
    background-color:#8BC34A;
  }

  .page-title{
    font-size: large; /* Tamaño de fuente grande */
    font-family: 'Arial', sans-serif; /* Mejor estilo de fuente */
    color: black; /* Color de texto */
    font-weight: bold; /* Negrita para mejor visibilidad */
    background-color: #8BC34A;
  }

  .example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary-color);
    color: white;
  }
  
  .example-sidenav {
    width: 250px;
    background-color: var(--primary-light);
  }
  
  .example-sidenav-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
  }
  
  mat-nav-list {
    padding: 0;
  }
  
  mat-list-item {
    padding: 0;
  }
  
  mat-list-item button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    color: var(--primary-dark);
  }
  
  mat-list-item button:hover {
    background-color: var(--accent-color);
  }
  
  mat-list-item button mat-icon {
    font-size: 20px;
    margin-right: 10px;
    color: var(--primary-dark);
  }
  
  mat-list-item button span {
    flex-grow: 1;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-form-field {
    margin-bottom: 20px;
  }
  