
<div style="display: flex; flex-direction: row; justify-content: space-between; padding: 20px;">

  

  <mat-card style="width: 100%; padding: 20px;">

    listaCriterios: {{listaCriterios | json}}
    
    <!--Filtro de Tabla-->
    <mat-form-field >
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <!--Boton de Registrar Criterio-->
    <div style="justify-content: end;">
      <button mat-raised-button color="primary" height="50px" width="50px" (click)="registrarDialog()">Agregar Criterio</button>
    </div>

    <!--Tabla de Criterios-->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
      
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID Criterio</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
      </ng-container>
      
      <!-- Descripcion Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon [ngClass]="{'activated': element.estado, 'deactivated': !element.estado}">
            {{element.estado ? 'check_circle' : 'cancel'}}
          </mat-icon>
          <span>{{element.estado ? '' : ''}}</span>
        </td>
      </ng-container>

      <!-- Accion Column -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="modificarDialog()" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Muestra cuando no hay coincidencias en el Filtro -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
  </mat-card>


  
</div>
