<!-- src/app/matriz-dinamica/matriz-dinamica.component.html -->
<div class="matriz-container">
    <table>
      <thead>
        <tr>
          <th>Unidades / Indicadores</th>
          <th *ngFor="let indicador of indicadores">{{ indicador.nombre }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unidad of unidades; let i = index">
          <td>{{ unidad.nombre }}</td>
          <td *ngFor="let indicador of indicadores; let j = index">
            <input type="text" [(ngModel)]="matriz[i][j]" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  