<h2 mat-dialog-title>Registro de Criterios</h2>
<form #formCriterio = "ngForm"  (ngSubmit)="guardarCriterio(formCriterio.value)" class="gestionCriterio">   
    <mat-dialog-content>
        <h1 style="font-size: medium;">Sra {{data.name}} Indica los datos del Criterio</h1>

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>ID de Criterio</mat-label>
            <input matInput placeholder="e.g., 26" type="number" name="id" ngModel>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
            <mat-label>Nombre Criterio</mat-label>
            <input matInput placeholder="Type here..." name="nombre" ngModel>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
            <mat-label>Descripcion</mat-label>
            <textarea matInput placeholder="Type here..." name="descripcion" ngModel></textarea> 
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
            <mat-label>Estado Criterio</mat-label>
            
            <mat-select name="estado" ngModel>
                @for (estado of estados; track estado) {
                <mat-option [value]="estado.value">{{estado.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
       
    </mat-dialog-content> 
    <mat-dialog-actions>
        <button mat-button type="reset" mat-dialog-close="false">Cancelar</button>
        <button mat-button type="submit" mat-dialog-close="true">Registrar</button>
    </mat-dialog-actions>
</form>

