<h2 mat-dialog-title>Modificacion de Asignacion</h2>
<form #formAsignacion="ngForm" (ngSubmit)="editarPrevio(formAsignacion.value)" class="gestionAsignaciones">
<mat-dialog-content>

    <h1 style="font-size: medium;"> Indica los datos de la asignacion {{data.asignacion}} </h1>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Anio de la Asignacion</mat-label>
        <input matInput readonly="true" type="number" name="anio" [(ngModel)]="data.asignacion.anio">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>ID de Criterio</mat-label>
        <input matInput readonly="true" type="number" name="id_criterio" [(ngModel)]="data.asignacion.id_criterio">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>ID de Indicador</mat-label>
        <input matInput readonly="true" type="number" name="id_indicador" [(ngModel)]="data.asignacion.id_indicador">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>ID de Unidad</mat-label>
        <input matInput readonly="true" type="number" name="id_unidad" [(ngModel)]="data.asignacion.id_unidad">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Documento de Respuesta</mat-label>
        <input matInput readonly name="doc_respuesta" [(ngModel)]="data.asignacion.doc_respuesta">
        <button mat-button type="button" (click)="fileInput.click()">Subir Archivo</button>
        <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Estado Recomendado / No Recomendado</mat-label>
        <input matInput readonly="true" name="recomendado" [(ngModel)]="data.asignacion.recomendado">
        <span>{{ data.asignacion.recomendado ? 'Recomendado' : 'No Recomendado' }}</span>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Estado Completado / Incompleto</mat-label>
        <mat-select type="boolean" name="completado" [(ngModel)]="data.asignacion.completado">
            <mat-option [value]="true">Completado</mat-option>
            <mat-option [value]="false">Incompleto</mat-option>
        </mat-select>
    </mat-form-field>

    <!--
    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Estado Criterio</mat-label>
        <mat-select type="boolean" name="estado" [(ngModel)]="data.indicador.estado">
            @for (estado of estados; track estado) {
              <mat-option [value]="estado.value">{{estado.viewValue}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    -->

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="false">Cancelar</button>
    <button mat-button type="submit" mat-dialog-close mat-dialog-close="true">Modificar</button>
</mat-dialog-actions>
</form>