<div style="display: flex; flex-direction: column; padding: 20px;">
  <mat-card style="width: 100%; padding: 20px;">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <div class="seleccion-anio">
      <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Años a Visualizar</mat-label>
        <mat-select [(ngModel)]="anioPrueba" name="anio">
          <mat-option *ngFor="let anio of aniosAsignados" [value]="anio">
            {{ anio }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="seleccionarAnio(anioPrueba)" mat-raised-button color="primary" style="height: 50px; width: 100%;">Seleccionar Año</button>
    </div>
    <div class="lista-asignaciones">
      <div *ngFor="let unidad of unidades">
        <div *ngIf="unidad.id === miUnidad.id">
          <h3 style="padding: 20px;">{{ unidad.id }} - {{ unidad.nombre }}</h3>
          <ul>
            <li *ngFor="let indicador of indicadores; let j = index" 
                [ngClass]="{'recomendado': matriz[unidad.id][j].recomendado, 'completado': matriz[unidad.id][j].completado}">
              <span>{{ indicador.id_criterio }}.{{ indicador.id }} - {{ indicador.nombre }}</span>
              <span [ngClass]="{'recomendado': matriz[unidad.id][j].recomendado}">
                {{ matriz[unidad.id][j].recomendado ? 'Recomendado' : '' }}
              </span>
              <span [ngClass]="{'completado': matriz[unidad.id][j].completado}" >
                {{ matriz[unidad.id][j].completado ? 'Completado' : 'Incompleto' }}
              </span>
              <button mat-button (click)="modificarAsignacion(unidad.id, j)">Subir archivo</button>
              <button mat-button (click)="descargarArchivo(indicador.doc_pregunta)">Descargar Indicador</button>
              <!--<input type="file" (change)="subirArchivo($event, unidad.id, j)" />-->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </mat-card>
</div>